* {
    box-sizing: border-box; /* Pastikan padding dan border termasuk dalam width dan height */
    padding: 0;
    margin: 0; /* Hilangkan margin default pada body */
    overflow-x: hidden; /* Hilangkan scroll horizontal jika ada */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  